@font-face {
    font-family: 'Kanit';
    src: url(./css/Kanit-Regular.ttf);
}

body{
    font-family: 'Kanit';
    background-color: rgb(250, 250, 250);
}

.nav-scroller{
    margin-top: 56px;
    background-color: rgb(66, 76, 87);
    padding: 8px;
}

.nav-link{
    transition:transform 0.2s ease;

}

.nav-link:hover{
    transform: translateY(-1.1px);
}

.nav-scroller .nav-link{
    color: rgb(241, 241, 241);
}

.nav-scroller .nav-link:hover{
    color: white;
}

.contents:first-of-type{
    display: none;
}

.contents{
    display: block;
}

.title-bill h5{
    text-align: center;
}

.card {
    border: none;
}